@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;500;700&family=VT323&display=swap');

html, body {margin: 0; height: 100%; overflow: hidden}
    
body {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	background-image: url(https://raw.githubusercontent.com/kritserv/my-website/main/static/img/titlescreen/background.webp);
	background-position-x: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

a {
	color: lightblue;
	margin-left: 0.5rem;
}

b {
	color: white;
}

p {
	color: #cbd0d6;
	margin-left: 0.5rem;
}

#skill-icon {
	width: 39px;
	background-color: white;
	border-radius: 25%;
	padding: 2px;
}

section {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
}

span {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 50%;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
	0 0 0 8px rgba(255, 255, 255, 0.1),
	0 0 20px rgba(255, 255, 255, 1);
	animation: animate 3s linear infinite;
	pointer-events: none;
}

span::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 300px;
	height: 1px;
	background: linear-gradient(90deg, white, transparent);
}

@keyframes animate
{
	0% {
		transform: rotate(315deg) translateX(0);
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		transform: rotate(315deg) translateX(-1000px);
		opacity: 0;
	}
}

span:nth-child(1) {
	top: 0;
	right: 0;
	left: initial;
	animation-delay: 0.2s;
	animation-duration: 3s;
}

span:nth-child(2) {
	top: 0;
	right: 80px;
	left: initial;
	animation-delay: 0.2s;
	animation-duration: 3s;
}

span:nth-child(3) {
	top: 80;
	right: 0px;
	left: initial;
	animation-delay: 0.4s;
	animation-duration: 2s;
}

span:nth-child(4) {
	top: 0;
	right: 180px;
	left: initial;
	animation-delay: 0.6s;
	animation-duration: 1.5s;
}

span:nth-child(5) {
	top: 0;
	right: 600px;
	left: initial;
	animation-delay: 1s;
	animation-duration: 2.5s;
}

span:nth-child(6) {
	top: 0;
	right: 600px;
	left: initial;
	animation-delay: 1s;
	animation-duration: 3s;
}

span:nth-child(7) {
	top: 300;
	right: 0px;
	left: initial;
	animation-delay: 1.2s;
	animation-duration: 1.8s;
}

.title {
	margin-top: 6rem;
	margin-bottom: 4rem;
	width: clamp(250px, 70vw, 1000px);
}

.menu-item-bg {
	font-family: 'VT323', monospace;
	background-color: rgba(112, 112, 112, 0.8);
	color: #ffffff;
	border: 3px solid black;
	transition: all .3s;
}

.menu-item-bg:hover {
	background-color: rgba(125, 135, 190, 0.9);
	color: #ffffa7;
	transition: all .3s;
}

.table {
	width: clamp(200px, 60vw, 600px);
	margin-top: 3rem;
	height: clamp(60px, 8vh, 70px);
	display: none;
}

.menu-item-sm {
	font-family: 'VT323', monospace;
	background-color: rgba(112, 112, 112, 0.8);
	color: #ffffff;
	border: 3px solid black;
	transition: all .3s;
}

.menu-item-sm:hover {
	background-color: rgba(125, 135, 190, 0.9);
	color: #ffffa7;
	transition: all .3s;
}

@media screen and (max-width: 1000px) {
	.menu-item-sm {
		width: clamp(90px, 29vw, 490px);
		margin-right: 5px;
		height: 55px;
	}
	.menu-item-bg {
		width: clamp(200px, 60vw, 600px);
		margin-bottom: 1rem;
		height: 55px;
	}
	h1 {
		font-size: 20px;
	}
	.dialog-inner {
		width: 70vw;
	}
	#special-message {
		position: absolute;
		top: clamp(120px, 14vw, 150px);
		right:clamp(12px, 15vw, 1000px);
		floating: right;
		font-size:clamp(14px, 5vw, 50px);
	}
}

@media screen and (min-width: 1000px) {
	.menu-item-sm {
		width: clamp(20%, 100%, 100%);
		margin-right: 11.5rem;
		height: clamp(60px, 8vh, 70px);
		padding-left: 17px;
		padding-right: 17px;
	}
	.menu-item-bg {
		width: clamp(200px, 60vw, 600px);
		margin-bottom: 1rem;
		height: clamp(60px, 8vh, 70px);
	}
	.dialog-inner {
		width: 30vw;
	}
	#special-message {
		position: absolute;
		left: calc(50vw + 300px);
		top: 170px;
		font-size: clamp(30px, 4vw, 50px);
	}
	
}

#special-message {
	color: yellow;
	font-family: 'VT323', monospace;
	animation: zoom-in-and-out 2s linear infinite;
	
}

@keyframes zoom-in-and-out
{
	0% {
		transform: scale(1) rotate(-7deg);
		opacity: 1;
	}
	50% {
		transform: scale(1.1) rotate(-8deg);
		opacity: 1;
	}
	100% {
		transform: scale(1) rotate(-7deg);
		opacity: 1;
	}
}

#center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#back-button {
	position: sticky;
	bottom: 2vh;
}

dialog {
	display: block;
	width: 100vw;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	backdrop-filter: blur(5px);
	overflow-x: hidden;
	opacity: 0;
	scale: 0;
	transition: all .5s;
}

dialog[open] {
	opacity: 1;
	scale: 1;
	transition: all .5s;
}

.dialog-inner {
	color: white;
	margin-left: 1rem;
	margin-right: 3rem;
	margin-top: 2rem;
}
