.content-body {
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	outline: none;
}

h1 {
	margin-bottom: 0.9rem;
}

p {
	font-size: 1.3rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

label {
	margin-left: 2rem;
}

.container {
	position: relative;
	padding: 3rem;
}

div div label {
	margin-left: 80%;
  color: darkgrey;
  border-radius: 10px;
  border-width: 10rem;
  border: 1px solid;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;




}

div div label:hover{
  color: black;
  transition: 0.2s;
  cursor: pointer;
}

input.check {
  display: none;
}

.container .content {
	display: none;
	margin-top: 4rem;
}

.container .content.ENG {
	display: block;
}

.check {
	position: relative;
}

.check:before {
	content: '';
}

.check:after {
	content: '';
	position: absolute;
}

.check:checked ~ .content.ENG{
	display: none;
}

.check:checked ~ .content.TH{
	display: block;
}
