@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;500;700&display=swap');

body {
	background-color: black;
	color: white;
	overflow-x: hidden;
	font-family: 'IBM Plex Sans Thai', sans-serif;
}

.post {
	margin: 0 auto;
	max-width: 800px;
}

.post h1 {
	text-align: center;
}

.post p {
	line-height: 1.6;
}
